In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
%matplotlib inline

# A) Ler Bases de Produção para simulação

In [2]:
X_prod = pd.read_pickle('df_X_prod_features.pickle')
y_prod = pd.read_pickle('df_y_prod_label.pickle')

In [3]:
import pickle

In [4]:
modelo_dr = pickle.load(open('modelo_dr.pickle', 'rb'))
predictions = modelo_dr.predict(X_prod)

# G) Precificação

#### a) Decision Tree

In [5]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [6]:
predictions = modelo_dr.predict(X_prod)
mse = mean_squared_error(y_prod, predictions)
print("MSE: %.4f" % mse)
r2 = r2_score(y_prod, predictions)
print("R2: %.4f" % r2)

MSE: 0.0005
R2: 0.9506

In [7]:
df = pd.DataFrame(predictions)
df_y = pd.DataFrame(y_prod)

In [8]:
df.head(n=20)

           0
0   0.000000
1   0.093379
2   0.000000
3   0.008219
4   0.069863
5   0.000000
6   0.016438
7   0.123288
8   0.094521
9   0.004110
10  0.000000
11  0.202740
12  0.135616
13  0.000000
14  0.230137
15  0.000000
16  0.000000
17  0.090411
18  0.086301
19  0.008219

In [9]:
df_y.head(n=20)

      Occupancy_Rate
8546        0.000000
281         0.087671
4188        0.000000
7871        0.008219
7886        0.069863
5121        0.000000
5231        0.016438
5197        0.123288
7100        0.094521
8279        0.004110
3137        0.000000
2293        0.253425
2939        0.135616
2623        0.000000
260         0.230137
585         0.000000
5195        0.000000
7885        0.090411
7349        0.086301
7998        0.008219